#header {
    background-color: greenyellow;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Clarifying styling for testing */
body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.crumbs {
  background-color: white;
  display: flex;
  justify-content:start; /* centers horizontally */
  align-items: center; /* centers vertically if parent has height */
  list-style-type: none;
  position: relative;
  list-style: none;
  margin: 0;
  gap: 1rem;
}

a {
  color: #333;
  text-align: center;
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100vh;
  backdrop-filter: blur(10px);
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

ul :hover{
   background-color: lightgray;
}

li{
  padding: 12px 10px;
  display: inline-block;
}

ul{
  margin: 0;
  padding: 0;
}

.closeButton{
  background-color: white;
  background: white;
  width: 230px;
}

.closeButton:hover{
  background-color: white;
}